<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a href="#" class="navbar-brand"> <img src="https://www.flaticon.com/svg/static/icons/svg/1205/1205755.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Easy Food</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a href="/home" class="nav-link custom" routerLink="home">Home </a>
            </li>
            <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link custom" routerLink="admin">Admin Board</a>
            </li>
            <li class="nav-item" *ngIf="showModeratorBoard">
                <a href="/mod" class="nav-link custom" routerLink="mod">Moderator Board</a>
            </li>
            <li class="nav-item">
                <a href="/menu" class="nav-link custom" *ngIf="isLoggedIn" routerLink="menu">Menu</a>
            </li>
            <li class="nav-item">
                <a href="/product" class="nav-link custom" *ngIf="isLoggedIn" routerLink="product">Product</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/register" class="nav-link custom" routerLink="register">Contact</a>
            </li>
        </ul>

        <!-- <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul> -->

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href="/profile" class="nav-link custom" routerLink="profile">Profile</a>
            </li>
            <li class="nav-item">
                <a href class="nav-link custom" (click)="logout()">Log Out</a>
            </li>
        </ul>


    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>